header {

    div {
        display: flex;
        justify-content: space-between;
        width: 1300px;
        margin: 0 auto;
        padding: 20px 0;

        ul {
            display: flex;
            align-items: center;

            li {
                margin-left: 20px;

                a {
                    font-weight: 600;
                    text-transform: uppercase;
                    color: black;
                    padding: 60px 0;

                    &:hover,
                    &.active {
                        color: #0C7CEC;
                        border-bottom: 3px solid currentColor;
                    }
                }
            }
        }
    }
}