.jumbo-section {
    background-image: url('../assets/img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    
    h2 {
        background-color: #0282F9;
        padding: 10px 20px;
        display: inline-block;
        text-transform: uppercase;
        color: white;
        position: relative;
        top: -6%;
        left: 16%;
    }
   
}
