.jumbo-section {
    background-image: url('../assets/img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    
    .flag {
        text-align: center;
        width: 185px;
        background-color: #0282F9;
        padding: 10px;
        display: inline-block;
        text-transform: uppercase;
        color: white;
        position: relative;
        top: -6%;
        left: 16%;
    }

    .flag-detail{
        text-align: center;
        width: 185px;
        background-color: #0282F9;
        padding: 10px;
        display: inline-block;
        text-transform: uppercase;
        color: white;
        position: relative;
        top: -65%;
        left: 19%;
    }
   
}
